[defaults]
inventory = ./inventory
remote_user = ansible
roles_path = ./Roles
collections_path = ./Collections:/usr/share/ansible/collections/
stdout_callback = debug
callback_result_format = yaml
##Root ansible.cfg is the more refined version after first attempt at RHCE
##Root ansible.cfg will work with both ansible-core and ansible-navigator

[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = false
