[defaults]
inventory = ./inventory
##remote_user= any user or service account; parameter tells ansible which user is executing the playbook
remote_user = ansible
##mycollections is example collections subdirectory within project directory
##collections_path tells ansible where to find collections and the order to follow when searching
collections_path = ./mycollections:/usr/share/ansible/collections
##roles is example roles subdirectory within project directory
##roles_path tells ansible where to find roles and the order to follow when searching
roles_path = ./roles:/usr/share/ansible/roles

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = False
